.body
    flex-direction: column
    background-color: #F2F2F2
    .filter-selectpicker
        border: 1px solid #ced4da
        border-radius: 0.25rem
        .dropdown-toggle
            height: 51px !important
            background-color: white !important
        .filter-option-inner-inner
            margin-top: 16px
        label
            padding-top: 11px !important
            opacity: .65
            transform: scale(.85) translateY(-0.5rem) translateX(0.15rem)
.header
    display: inline-grid
    grid-template-columns: 300px 360px 300px
    justify-content: center
    justify-items: center
    align-items: center
    margin: 15px auto
    h1
        grid-column-start: 2
        text-align: center
        margin: 15px auto
    .btn
        grid-column-start: 3
        justify-self: end
        margin-right: 6px
.filter
    width: 960px
    margin: auto
    margin-top: 0
    margin-bottom: 0
    background-color: white
    border-radius: 12px
    box-shadow: 6px 6px 6px rgb(0 0 0 / 15%)
    padding: 10px 15px 30px 15px
    h2
        text-align: center
    .form-control
        height: 55px
    form
        display: inline-grid
        grid-template-columns: 300px 15px 340px 15px 260px
        grid-template-rows: 70px 53px
        .competencies-filter
            grid-column-start: 1
            grid-row-start: 1
        .education-programs-filter
            grid-column-start: 1
            grid-row-start: 2
            margin-bottom: 0 !important
        .tag-filter
            grid-column-start: 5
            grid-column-end: 5
            grid-row-start: 1
        .project-filter
            grid-column-start: 3
            grid-row-start: 1
        .dates-filter 
            display: flex
            justify-content: space-between
            grid-column-start: 3
            grid-row-start: 2
            margin-bottom: 0 !important
        .btn
            grid-column-start: 5
            grid-row-start: 2
.message
    width: 960px
    margin: auto
    margin-top: 20px
    margin-bottom: 0
    text-align: center
.groups-list
    margin: auto
    margin-top: 0
    margin-bottom: 35px
    width: fit-content
    justify-content: left
    column-gap: 15px
    width: 960px
    .col
        margin-top: 0 !important
        width: 310px
        padding-left: 0
        padding-right: 0
        .group-card
            height: fit-content
            min-height: 250px
            border: 0
            border-radius: 12px
            box-shadow: 6px 6px 6px rgb(0 0 0 / 15%)
            b
                font-weight: 500
            .card-header
                font-size: 20px
                background-color: white
                text-align: center
            .card-text
                margin-top: 10px
            .card-footer
                display: flex
                justify-content: space-between
                background-color: white
                column-gap: 15px