{% extends "layout.html" %}
{% load static %}
{% block title %}{{page_name}}{% endblock %}

{% block style %}
        <link href="{% static 'datacenter/css/events_page.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div class="modal fade add-event-modal" id="AddEventModal" tabindex="-1" aria-labelledby="AddEventModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddEventModalLabel">{{event.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'events_page' %}" method="post">
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="name" placeholder="Название мероприятия" required>
                            <label for="name">Название мероприятия</label>
                        </div>
                        <div class="form-floating mb-3">
                            {% if event.event_link != None %}
                                <input type="input" class="form-control" name="event_link" placeholder="Ссылка на публикацию">
                            {% else %}
                                <input type="input" class="form-control" name="event_link" placeholder="Ссылка на публикацию">
                            {% endif %}
                            <label for="name">Ссылка на публикацию</label>
                        </div>
                        <div class="mb-3">
                            <label for="event_type" class="form-label">Тип мероприятия</label>
                            <select class="selectpicker" data-width="100%" data-live-search="true" name="event_type" required>
                                {% for event_type in event_types %}
                                    <option value="{{event_type.id}}">{{event_type.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="project" class="form-label">Проект</label>
                            <select class="selectpicker" data-width="100%" data-live-search="true" name="project" required>
                                {% for project in projects %}
                                    <option value="{{project.id}}">{{project.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tags" class="form-label">Теги</label>
                            <select class="selectpicker" multiple data-width="100%" data-live-search="true" name="tags">
                                {% for tag in tags %}
                                    <option value="{{tag.id}}">{{tag.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="start_date" placeholder="Дата начала" aria-label="Дата" required>
                            <label for="start_date" class="form-label">Дата начала</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="end_date" placeholder="Дата окончания" aria-label="Дата" required>
                            <label for="end_date" class="form-label">Дата окончания</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control notes" style="height: 100px" name="notes"></textarea>
                            <label for="notes" class="form-label">Примечания</label>
                        </div>
                </div>
                <div class="modal-footer">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" name="add-event">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for event in events %}
        <div class="modal fade event-modal" id="EventModal{{event.id}}" tabindex="-1" aria-labelledby="EventModal{{event.id}}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EventModal{{event.id}}Label">{{event.name}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'events_page' %}" method="post">
                            <input type="input" class="form-control" name="id" value="{{event.id}}" style="display: none;"  required>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="name" placeholder="Название мероприятия" value="{{event.name}}" required>
                                <label for="name">Название мероприятия</label>
                            </div>
                            <div class="form-floating mb-3">
                                {% if event.event_link != None %}
                                    <input type="input" class="form-control" name="event_link" placeholder="Ссылка на публикацию" value="{{event.event_link}}">
                                {% else %}
                                    <input type="input" class="form-control" name="event_link" placeholder="Ссылка на публикацию">
                                {% endif %}
                                <label for="name">Ссылка на публикацию</label>
                            </div>
                            <div class="mb-3">
                                <label for="event_type" class="form-label">Тип мероприятия</label>
                                <select class="selectpicker" data-width="100%" data-live-search="true" name="event_type" required>
                                    <option selected value="{{event.event_type.id}}">{{event.event_type.name}}</option>
                                    {% for event_type in event_types %}
                                        {% if event_type.id != event.event_type.id %}
                                            <option value="{{event_type.id}}">{{event_type.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="project" class="form-label">Проект</label>
                                <select class="selectpicker" data-width="100%" data-live-search="true" name="project" required>
                                    <option selected value="{{event.project.id}}">{{event.project.name}}</option>
                                    {% for project in projects %}
                                        {% if project.id != event.project.id %}
                                            <option value="{{project.id}}">{{project.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tags" class="form-label">Теги</label>
                                <select class="selectpicker" multiple data-width="100%" data-live-search="true" name="tags">
                                    {% for tag in tags %}
                                        {% if tag in event.tags.all %}
                                            <option value="{{tag.id}}" selected>{{tag.name}}</option>
                                        {% else %}
                                            <option value="{{tag.id}}">{{tag.name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name="start_date" value="{{event.start_date.isoformat}}" placeholder="Дата начала" aria-label="Дата" required>
                                <label for="start_date" class="form-label">Дата начала</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" name="end_date" value="{{event.end_date.isoformat}}" placeholder="Дата окончания" aria-label="Дата" required>
                                <label for="end_date" class="form-label">Дата окончания</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control notes" style="height: 100px" name="notes">{{event.notes}}</textarea>
                                <label for="notes" class="form-label">Примечания</label>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" name="edit-event">Сохранить</button>
                        </form>
                        <form action="{% url 'events_page' %}" method="post">
                            <input type="input" class="form-control" name="id" value="{{event.id}}" style="display: none;"  required>
                            <button type="submit" class="btn btn-danger" name="delete-event">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="header">
        <h1>Мероприятия</h1>
        <a data-bs-toggle="modal" data-bs-target="#AddEventModal" class="btn btn-success">Добавить мероприятие</a>
    </div>
    <div class="message">
        {% if message.0 == "added" %}
            <div class="alert alert-success" role="alert">
                Мероприятие '{{message.1.name}}' добавлено!
            </div>
        {% elif message.0 == "changed" %}
            <div class="alert alert-primary" role="alert">
                Мероприятие '{{message.1.name}}' изменено!
            </div>
        {% elif message.0 == "deleted" %}
            <div class="alert alert-danger" role="alert">
                Мероприятие '{{message.1.name}}' удалено!
            </div>
        {% endif %}
    </div>
    <div class="filter">
        <h2>Фильтр</h2>
        <form action="{% url 'events_page' %}" method="post">
            <div class="form-floating mb-3 event-type-filter filter-selectpicker">
                <select class="selectpicker" data-width="100%" data-live-search="true" name="event_types" multiple>
                    {% for event_type in event_types %}
                        {% if event_type.id in event_filter.0 %}
                            <option selected value="{{event_type.id}}">{{event_type.name}}</option>
                        {% else %}
                            <option value="{{event_type.id}}">{{event_type.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="event_type" class="form-label">Тип мероприятий</label>
            </div>
            <div class="form-floating mb-3 project-filter filter-selectpicker">
                <select class="selectpicker" data-width="100%" data-live-search="true" name="projects" multiple>
                    {% for project in projects %}
                        {% if project.id in event_filter.1 %}
                            <option selected value="{{project.id}}">{{project.name}}</option>
                        {% else %}
                            <option value="{{project.id}}">{{project.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="projects" class="form-label">Проекты</label>
            </div>
            <div class="form-floating mb-3 tag-filter filter-selectpicker">
                <select class="selectpicker" data-width="100%" data-live-search="true" name="tags" multiple>
                    {% for tag in tags %}
                        {% if tag.id in event_filter.2 %}
                            <option selected value="{{tag.id}}">{{tag.name}}</option>
                            {% else %}
                            <option value="{{tag.id}}">{{tag.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="tags" class="form-label">Теги</label>
            </div>
            <div class="form-floating mb-3 start-date-filter">
                <input type="date" class="form-control" name="start_date" value="{{event_filter.3}}"  placeholder="Дата начала" aria-label="Дата">
                <label for="start_date" class="form-label">Дата начала</label>
            </div>
            <div class="form-floating mb-3 end-date-filter">
                <input type="date" class="form-control" name="end_date" value="{{event_filter.4}}" placeholder="Дата окончания" aria-label="Дата">
                <label for="end_date" class="form-label">Дата окончания</label>
            </div>
            <button type="submit" class="btn btn-primary" name="filter-events">Применить</button>
        </form>
    </div>
    <div class="events-list row row-cols-3 row-cols-md-3 g-4">
        {% for event in events %}
            <div class="col">
                <div class="card event-card h-100">
                    <div class="card-header">
                        {{event.name}}
                    </div>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">{{event.event_type}} ({{event.project.name}})</h6>
                        <p class="card-text">
                            <b>Участников:</b> {{event.participants.count}}
                            {% if event.event_link != "" %}
                                <br><a href="{{event.event_link}}" class="card-link" target="_blank">Ссылка на публикацию</a>
                            {% endif %}
                        </p>
                        <p class="card-text">
                            <b>Дата начала:</b> {{event.start_date}} 
                            <b>Дата окончания:</b> {{event.end_date}}
                        </p>
                        <p class="card-text">
                            {% for tag in event.tags.all %}
                                #{{tag.name}} 
                            {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer">
                        <a data-bs-toggle="modal" data-bs-target="#EventModal{{event.id}}" class="btn btn-outline-primary">Изменить</a>
                        <a href="{% url 'event_reg' event.id %}" target="_blank" class="btn btn-primary">Регистрация</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}