{% extends "layout.html" %}
{% load static %}
{% block title %}{{page_name}}{% endblock %}

{% block style %}
        <link href="{% static 'users/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block body %}
    <div style="width: 100%;" class="row justify-content-center align-self-center">
        <div class="card sign-card">
            <div class="form-title"><p>Авторизация</p></div>
            <div class="alert alert-danger" role="alert"></div>
        <!--Авторизация-->
            <div class="sign-form-container">
                <form class="sign-form" action="{% url 'login' %}" method="post">
                    {% if message %}
                        <div class="alert alert-danger d-flex align-items-center" role="alert">
                            <div>
                                {{message}}
                            </div>
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="LoginEmail" class="form-label">Email</label>
                        <input type="email" class="form-control email-login" name="email" id="LoginEmail" placeholder="name@example.com" required>
                    </div>
                    <div style="margin-bottom: 0 !important" class="mb-3">
                        <label for="LoginPassword" class="form-label">Введите пароль</label>
                        <input type="password" class="form-control" name="password" id="LoginPassword" placeholder="Пароль" required>
                    </div>
                    <button class="btn btn-outline-secondary sign-button" type="submit">Войти</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
